# Python
__pycache__/
downloads/
pip-log.txt
.cache
.pytest_cache/
*.log
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/